
html{
	background-color: #FF404C;
	/*give a standard font family for the rentire page. */
	font-family: 'Ubuntu', sans-serif;
	/*give a standard font size for the entire page.*/
	font-size: 10px;
}

#title{
	text-align: center;
	font-size: 4rem;
	color: #E7DACB;
}

#btnCont{
	text-align: center;
}

#btn{
	font-size: 3rem;
	margin-top: 3rem;
	font-family: 'Ubuntu', sans-serif;
	background-color: #FF404C;
	border-style: none;
	outline: none;
	text-decoration: underline;
}

#btn:hover{
	cursor: pointer;
	color: #E7DACB;
}

.quote-display{
	margin: auto;
	text-align: center;
	max-width: 120rem;
	padding: 1rem;
	/*set margin to auto to out the div in the center*/
	margin: auto;
}

#random-quote{
	font-size: 5rem;
	font-family: 'Lobster', cursive;
}

#character{
	font-size: 2rem;
	text-align: right;
}

.social-media{
	margin: auto;
	padding: 2rem;
	text-align: center;
	max-width: 120rem;
}

.social-media span{
	padding: 1rem;
}

.social-media span a{
	font-size: 2rem;
}