html{
	font-size: 10px;
	font-family: 'Exo', sans-serif;
	background-color: #161616;
	color: white;
}

body h1{
	font-size: 5.9rem;
	text-align: center;
}

body div{
	text-align: center;
	font-size: 4rem;
	margin-top: 2rem;
}

#descrip{
	text-transform: uppercase;
	font-size: 3.5rem;
}

p {
	text-align: center;
	margin: 0;
}