html{
	font-size: 10px;
	text-align: center;
}

h1{
	font-size: 3rem;
}

div{
	padding: .5rem;
}

input{
	width: 18rem;
	height: 2.5rem;
	text-align: right;
	font-size: 2rem;
}

button{
	font-size: 2rem;
	width: 4rem;
	height: 4rem;
	margin: .3rem;
}